<div class="avatar-upload">
    <div class="avatar-upload-img mona-upload-loading">
        <div class="ratio-box main-btn-ajax">
            <img src="" alt="" id="js-upload-image-preview"> 
        </div>
    </div>
    <div class="avatar-upload-info">
        <h4 class="avatar-upload-info-title"> Chọn hình ảnh khác </h4>
        <label for="js-upload-image-btn" class="upload-btn"><i class="fa fa-upload" aria-hidden="true"></i>  Tải ảnh lên </label>
        <input type="file" name="file-img" id="js-upload-image-btn" hidden>
        <input type="text" value="" id="id-file-img" name="id-file-img" hidden>
        <p class="avatar-upload-info-desc"> Chấp nhận jpg, png, gif và ảnh chỉ <= 2.0M Size </p>
    </div>
</div>